<h1>Contact Us</h1>

<div class="input-group">
  <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
  <span class="input-group-addon" id="basic-addon2">@example.com</span>
</div>
<br />
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">mail subject</span>
  <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
</div>
<br />
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">email content</span>
  <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
</div>
<br />
<div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default">Send</button>
</div>
<br />  
<br />