<h1>The best service of the web</h1>

<div class="jumbotron">
  <h1><img alt="Brand" src="http://www.phoenixshuttle.com/phoenixtaxicabride/images/banner.jpg" /></h1>
  <h1>Welcome to TaxiWeb</h1>
  <p>Welcome to the online service taxiweb</p>
  <p><a class="btn btn-primary btn-lg" href=<%= pages_about_us_path %> role="button">Learn more</a></p>
  <br />
</div>
