<h1>Detalles del servicio Nro. <%= @Service.id %></h1>
<p></p>

<div class="col-lg-3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
    
      <%= @Service.to %>
    
    </ul>
  </div><!--/.well -->
</div><!--/span-->
