<h1>Servicios pendientes</h1>
<p></p>

<div class="col-lg-3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
    <% @Services.each do |service| %>
      <li><%= link_to service.to, pages_my_service_path(service)  %><%= service.from %></li>
    <% end %>
    </ul>
  </div><!--/.well -->
</div><!--/span-->